.intro {
  color: $white;

}
.intro__bg {
  background:
  url(../img/mobile/phone.png) no-repeat center bottom,
  url(../img/mobile/back-mobile.jpg) no-repeat center top;
  background-size: auto, cover;
  height: 464px;
}

.intro__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 300;
}

.intro__button {
  display: block;
  color: inherit;
  font-weight: 700;
  margin-top: 220px;
}

.intro__content {
  padding-top: 95px;
  text-align: center;
}

.intro__text {
  font-weight: 300;
}

.intro__icon {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}
