.nav__list {
  color: $white;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

.nav__item {
  margin-right: 79px;
  padding: 15px 0;
  &:last-child {
    margin-right: 0;
  }
  &--current {
    border-bottom: 2px solid $white;
  }
}

.nav__item a {
  color: $white;
}

.nav__toggle {
  display: none;
}
